AL.Atendimento.SobConsulta.Repositorios/Web References/wsCanaisWeb/CanaisWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CanaisWeb" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ICanaisWeb_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www-h.localiza.com/Empresas2/servicos/CanaisWeb.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www-h.localiza.com/Empresas2/servicos/CanaisWeb.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www-h.localiza.com/Empresas2/servicos/CanaisWeb.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LL.CanaisWeb.Fronteiras.Dtos.Impressao" />
      <xsd:import schemaLocation="http://www-h.localiza.com/Empresas2/servicos/CanaisWeb.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LL.CanaisWeb.Fronteiras.Dtos.Relatorios" />
      <xsd:import schemaLocation="http://www-h.localiza.com/Empresas2/servicos/CanaisWeb.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://www-h.localiza.com/Empresas2/servicos/CanaisWeb.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/LL.CanaisWeb.Fronteiras.Dtos" />
      <xsd:import schemaLocation="http://www-h.localiza.com/Empresas2/servicos/CanaisWeb.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/LL.CanaisWeb.Fronteiras.Dtos.Politicas" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICanaisWeb_ObterToken_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterToken" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterTokenWebFacil_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterTokenWebFacil" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterTokenWebFacil_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterTokenWebFacilResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_VerificarUsuarioTemAcessoAoCorporateNovo_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarUsuarioTemAcessoAoCorporateNovo" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_VerificarUsuarioTemAcessoAoCorporateNovo_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarUsuarioTemAcessoAoCorporateNovoResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_VerificarUsuarioTemAcessoAoCorporateNovoEAntigo_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarUsuarioTemAcessoAoCorporateNovoEAntigo" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_VerificarUsuarioTemAcessoAoCorporateNovoEAntigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarUsuarioTemAcessoAoCorporateNovoEAntigoResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_VerificarUsuarioTemAcessoAoWebFacilNovo_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarUsuarioTemAcessoAoWebFacilNovo" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_VerificarUsuarioTemAcessoAoWebFacilNovo_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarUsuarioTemAcessoAoWebFacilNovoResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_VerificarUsuarioTemAcessoAoWebFacilNovoEAntigo_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarUsuarioTemAcessoAoWebFacilNovoEAntigo" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_VerificarUsuarioTemAcessoAoWebFacilNovoEAntigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarUsuarioTemAcessoAoWebFacilNovoEAntigoResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_DescriptografarTokenRetornandoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:DescriptografarTokenRetornandoUsuario" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_DescriptografarTokenRetornandoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:DescriptografarTokenRetornandoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_InserirUsuarioNoPerfil_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirUsuarioNoPerfil" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_InserirUsuarioNoPerfil_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirUsuarioNoPerfilResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_RemoverUsuarioNoPerfil_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoverUsuarioNoPerfil" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_RemoverUsuarioNoPerfil_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoverUsuarioNoPerfilResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterDadosReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosReserva" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterDadosReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosReservaResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterDadosReservaAdicionais_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosReservaAdicionais" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterDadosReservaAdicionais_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosReservaAdicionaisResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterDadosReservaBeneficios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosReservaBeneficios" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterDadosReservaBeneficios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosReservaBeneficiosResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterDadosReservaAtributos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosReservaAtributos" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterDadosReservaAtributos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosReservaAtributosResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterLabelsDadosReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterLabelsDadosReserva" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterLabelsDadosReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterLabelsDadosReservaResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterLabelsInformacoesGerais_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterLabelsInformacoesGerais" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterLabelsInformacoesGerais_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterLabelsInformacoesGeraisResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterLabelsInformacoesGeraisInternacionalizacao_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterLabelsInformacoesGeraisInternacionalizacao" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterLabelsInformacoesGeraisInternacionalizacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterLabelsInformacoesGeraisInternacionalizacaoResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterLabelsRelatoriosFaturamento_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterLabelsRelatoriosFaturamento" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterLabelsRelatoriosFaturamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterLabelsRelatoriosFaturamentoResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterLabelsInformacoesRelatorioReservas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterLabelsInformacoesRelatorioReservas" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterLabelsInformacoesRelatorioReservas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterLabelsInformacoesRelatorioReservasResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterHorarioFuncionamentoAgencias_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterHorarioFuncionamentoAgencias" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterHorarioFuncionamentoAgencias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterHorarioFuncionamentoAgenciasResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterDadosCotacaoReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosCotacaoReserva" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterDadosCotacaoReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosCotacaoReservaResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterDadosRelatorioReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosRelatorioReserva" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterDadosRelatorioReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosRelatorioReservaResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterDadosCotacaoAdicionais_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosCotacaoAdicionais" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterDadosCotacaoAdicionais_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterDadosCotacaoAdicionaisResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_CadastrarNovosUsuariosPefilNovaWebCorp_InputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarNovosUsuariosPefilNovaWebCorp" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_CadastrarNovosUsuariosPefilNovaWebCorp_OutputMessage">
    <wsdl:part name="parameters" element="tns:CadastrarNovosUsuariosPefilNovaWebCorpResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ConfirmarReservaPendenteCredito_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarReservaPendenteCredito" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ConfirmarReservaPendenteCredito_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmarReservaPendenteCreditoResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ReprovarReservaPendenteCredito_InputMessage">
    <wsdl:part name="parameters" element="tns:ReprovarReservaPendenteCredito" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ReprovarReservaPendenteCredito_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReprovarReservaPendenteCreditoResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_GravarItensVoucherReservaProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:GravarItensVoucherReservaProduto" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_GravarItensVoucherReservaProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GravarItensVoucherReservaProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_EnviarEmailConfirmacaoReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmailConfirmacaoReserva" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_EnviarEmailConfirmacaoReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmailConfirmacaoReservaResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_EnviarEmailConfirmacaoReservaComListaDestinatarios_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmailConfirmacaoReservaComListaDestinatarios" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_EnviarEmailConfirmacaoReservaComListaDestinatarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmailConfirmacaoReservaComListaDestinatariosResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_EnviarEmailConfirmacaoReservaComStatusPendenteCredito_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmailConfirmacaoReservaComStatusPendenteCredito" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_EnviarEmailConfirmacaoReservaComStatusPendenteCredito_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmailConfirmacaoReservaComStatusPendenteCreditoResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterCartoesVirtuaisDoClienteParaUtilizacao_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterCartoesVirtuaisDoClienteParaUtilizacao" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_ObterCartoesVirtuaisDoClienteParaUtilizacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterCartoesVirtuaisDoClienteParaUtilizacaoResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoCorporate_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoCorporate" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoCorporate_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoCorporateResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoAGVIG_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoAGVIG" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoAGVIG_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoAGVIGResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_VerificarSeReservaNecessitaAprovacao_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarSeReservaNecessitaAprovacao" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_VerificarSeReservaNecessitaAprovacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarSeReservaNecessitaAprovacaoResponse" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_VerificarPresencaNaListaClinton_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarPresencaNaListaClinton" />
  </wsdl:message>
  <wsdl:message name="ICanaisWeb_VerificarPresencaNaListaClinton_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarPresencaNaListaClintonResponse" />
  </wsdl:message>
  <wsdl:portType name="ICanaisWeb">
    <wsdl:operation name="ObterToken">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/ObterToken" message="tns:ICanaisWeb_ObterToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/ObterTokenResponse" message="tns:ICanaisWeb_ObterToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterTokenWebFacil">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/ObterTokenWebFacil" message="tns:ICanaisWeb_ObterTokenWebFacil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/ObterTokenWebFacilResponse" message="tns:ICanaisWeb_ObterTokenWebFacil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarUsuarioTemAcessoAoCorporateNovo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/VerificarUsuarioTemAcessoAoCorporateNovo" message="tns:ICanaisWeb_VerificarUsuarioTemAcessoAoCorporateNovo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/VerificarUsuarioTemAcessoAoCorporateNovoResponse" message="tns:ICanaisWeb_VerificarUsuarioTemAcessoAoCorporateNovo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarUsuarioTemAcessoAoCorporateNovoEAntigo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/VerificarUsuarioTemAcessoAoCorporateNovoEAntigo" message="tns:ICanaisWeb_VerificarUsuarioTemAcessoAoCorporateNovoEAntigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/VerificarUsuarioTemAcessoAoCorporateNovoEAntigoResponse" message="tns:ICanaisWeb_VerificarUsuarioTemAcessoAoCorporateNovoEAntigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarUsuarioTemAcessoAoWebFacilNovo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/VerificarUsuarioTemAcessoAoWebFacilNovo" message="tns:ICanaisWeb_VerificarUsuarioTemAcessoAoWebFacilNovo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/VerificarUsuarioTemAcessoAoWebFacilNovoResponse" message="tns:ICanaisWeb_VerificarUsuarioTemAcessoAoWebFacilNovo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarUsuarioTemAcessoAoWebFacilNovoEAntigo">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/VerificarUsuarioTemAcessoAoWebFacilNovoEAntigo" message="tns:ICanaisWeb_VerificarUsuarioTemAcessoAoWebFacilNovoEAntigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/VerificarUsuarioTemAcessoAoWebFacilNovoEAntigoResponse" message="tns:ICanaisWeb_VerificarUsuarioTemAcessoAoWebFacilNovoEAntigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DescriptografarTokenRetornandoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/DescriptografarTokenRetornandoUsuario" message="tns:ICanaisWeb_DescriptografarTokenRetornandoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/DescriptografarTokenRetornandoUsuarioResponse" message="tns:ICanaisWeb_DescriptografarTokenRetornandoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirUsuarioNoPerfil">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/InserirUsuarioNoPerfil" message="tns:ICanaisWeb_InserirUsuarioNoPerfil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/InserirUsuarioNoPerfilResponse" message="tns:ICanaisWeb_InserirUsuarioNoPerfil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoverUsuarioNoPerfil">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/RemoverUsuarioNoPerfil" message="tns:ICanaisWeb_RemoverUsuarioNoPerfil_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/RemoverUsuarioNoPerfilResponse" message="tns:ICanaisWeb_RemoverUsuarioNoPerfil_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterDadosReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/ObterDadosReserva" message="tns:ICanaisWeb_ObterDadosReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/ObterDadosReservaResponse" message="tns:ICanaisWeb_ObterDadosReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterDadosReservaAdicionais">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/ObterDadosReservaAdicionais" message="tns:ICanaisWeb_ObterDadosReservaAdicionais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/ObterDadosReservaAdicionaisResponse" message="tns:ICanaisWeb_ObterDadosReservaAdicionais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterDadosReservaBeneficios">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/ObterDadosReservaBeneficios" message="tns:ICanaisWeb_ObterDadosReservaBeneficios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/ObterDadosReservaBeneficiosResponse" message="tns:ICanaisWeb_ObterDadosReservaBeneficios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterDadosReservaAtributos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/ObterDadosReservaAtributos" message="tns:ICanaisWeb_ObterDadosReservaAtributos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/ObterDadosReservaAtributosResponse" message="tns:ICanaisWeb_ObterDadosReservaAtributos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterLabelsDadosReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/ObterLabelsDadosReserva" message="tns:ICanaisWeb_ObterLabelsDadosReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/ObterLabelsDadosReservaResponse" message="tns:ICanaisWeb_ObterLabelsDadosReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterLabelsInformacoesGerais">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/ObterLabelsInformacoesGerais" message="tns:ICanaisWeb_ObterLabelsInformacoesGerais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/ObterLabelsInformacoesGeraisResponse" message="tns:ICanaisWeb_ObterLabelsInformacoesGerais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterLabelsInformacoesGeraisInternacionalizacao">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/ObterLabelsInformacoesGeraisInternacionalizacao" message="tns:ICanaisWeb_ObterLabelsInformacoesGeraisInternacionalizacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/ObterLabelsInformacoesGeraisInternacionalizacaoResponse" message="tns:ICanaisWeb_ObterLabelsInformacoesGeraisInternacionalizacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterLabelsRelatoriosFaturamento">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/ObterLabelsRelatoriosFaturamento" message="tns:ICanaisWeb_ObterLabelsRelatoriosFaturamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/ObterLabelsRelatoriosFaturamentoResponse" message="tns:ICanaisWeb_ObterLabelsRelatoriosFaturamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterLabelsInformacoesRelatorioReservas">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/ObterLabelsInformacoesRelatorioReservas" message="tns:ICanaisWeb_ObterLabelsInformacoesRelatorioReservas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/ObterLabelsInformacoesRelatorioReservasResponse" message="tns:ICanaisWeb_ObterLabelsInformacoesRelatorioReservas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterHorarioFuncionamentoAgencias">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/ObterHorarioFuncionamentoAgencias" message="tns:ICanaisWeb_ObterHorarioFuncionamentoAgencias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/ObterHorarioFuncionamentoAgenciasResponse" message="tns:ICanaisWeb_ObterHorarioFuncionamentoAgencias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterDadosCotacaoReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/ObterDadosCotacaoReserva" message="tns:ICanaisWeb_ObterDadosCotacaoReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/ObterDadosCotacaoReservaResponse" message="tns:ICanaisWeb_ObterDadosCotacaoReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterDadosRelatorioReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/ObterDadosRelatorioReserva" message="tns:ICanaisWeb_ObterDadosRelatorioReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/ObterDadosRelatorioReservaResponse" message="tns:ICanaisWeb_ObterDadosRelatorioReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterDadosCotacaoAdicionais">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/ObterDadosCotacaoAdicionais" message="tns:ICanaisWeb_ObterDadosCotacaoAdicionais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/ObterDadosCotacaoAdicionaisResponse" message="tns:ICanaisWeb_ObterDadosCotacaoAdicionais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CadastrarNovosUsuariosPefilNovaWebCorp">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/CadastrarNovosUsuariosPefilNovaWebCorp" message="tns:ICanaisWeb_CadastrarNovosUsuariosPefilNovaWebCorp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/CadastrarNovosUsuariosPefilNovaWebCorpResponse" message="tns:ICanaisWeb_CadastrarNovosUsuariosPefilNovaWebCorp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmarReservaPendenteCredito">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/ConfirmarReservaPendenteCredito" message="tns:ICanaisWeb_ConfirmarReservaPendenteCredito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/ConfirmarReservaPendenteCreditoResponse" message="tns:ICanaisWeb_ConfirmarReservaPendenteCredito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReprovarReservaPendenteCredito">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/ReprovarReservaPendenteCredito" message="tns:ICanaisWeb_ReprovarReservaPendenteCredito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/ReprovarReservaPendenteCreditoResponse" message="tns:ICanaisWeb_ReprovarReservaPendenteCredito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GravarItensVoucherReservaProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/GravarItensVoucherReservaProduto" message="tns:ICanaisWeb_GravarItensVoucherReservaProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/GravarItensVoucherReservaProdutoResponse" message="tns:ICanaisWeb_GravarItensVoucherReservaProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailConfirmacaoReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/EnviarEmailConfirmacaoReserva" message="tns:ICanaisWeb_EnviarEmailConfirmacaoReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/EnviarEmailConfirmacaoReservaResponse" message="tns:ICanaisWeb_EnviarEmailConfirmacaoReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailConfirmacaoReservaComListaDestinatarios">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/EnviarEmailConfirmacaoReservaComListaDestinatarios" message="tns:ICanaisWeb_EnviarEmailConfirmacaoReservaComListaDestinatarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/EnviarEmailConfirmacaoReservaComListaDestinatariosResponse" message="tns:ICanaisWeb_EnviarEmailConfirmacaoReservaComListaDestinatarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailConfirmacaoReservaComStatusPendenteCredito">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/EnviarEmailConfirmacaoReservaComStatusPendenteCredito" message="tns:ICanaisWeb_EnviarEmailConfirmacaoReservaComStatusPendenteCredito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/EnviarEmailConfirmacaoReservaComStatusPendenteCreditoResponse" message="tns:ICanaisWeb_EnviarEmailConfirmacaoReservaComStatusPendenteCredito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterCartoesVirtuaisDoClienteParaUtilizacao">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/ObterCartoesVirtuaisDoClienteParaUtilizacao" message="tns:ICanaisWeb_ObterCartoesVirtuaisDoClienteParaUtilizacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/ObterCartoesVirtuaisDoClienteParaUtilizacaoResponse" message="tns:ICanaisWeb_ObterCartoesVirtuaisDoClienteParaUtilizacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoCorporate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoCorporate" message="tns:ICanaisWeb_EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoCorporate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoCorporateResponse" message="tns:ICanaisWeb_EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoCorporate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoAGVIG">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoAGVIG" message="tns:ICanaisWeb_EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoAGVIG_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoAGVIGResponse" message="tns:ICanaisWeb_EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoAGVIG_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarSeReservaNecessitaAprovacao">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/VerificarSeReservaNecessitaAprovacao" message="tns:ICanaisWeb_VerificarSeReservaNecessitaAprovacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/VerificarSeReservaNecessitaAprovacaoResponse" message="tns:ICanaisWeb_VerificarSeReservaNecessitaAprovacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarPresencaNaListaClinton">
      <wsdl:input wsaw:Action="http://tempuri.org/ICanaisWeb/VerificarPresencaNaListaClinton" message="tns:ICanaisWeb_VerificarPresencaNaListaClinton_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICanaisWeb/VerificarPresencaNaListaClintonResponse" message="tns:ICanaisWeb_VerificarPresencaNaListaClinton_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICanaisWeb" type="tns:ICanaisWeb">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterToken">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterTokenWebFacil">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterTokenWebFacil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarUsuarioTemAcessoAoCorporateNovo">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/VerificarUsuarioTemAcessoAoCorporateNovo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarUsuarioTemAcessoAoCorporateNovoEAntigo">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/VerificarUsuarioTemAcessoAoCorporateNovoEAntigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarUsuarioTemAcessoAoWebFacilNovo">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/VerificarUsuarioTemAcessoAoWebFacilNovo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarUsuarioTemAcessoAoWebFacilNovoEAntigo">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/VerificarUsuarioTemAcessoAoWebFacilNovoEAntigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DescriptografarTokenRetornandoUsuario">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/DescriptografarTokenRetornandoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirUsuarioNoPerfil">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/InserirUsuarioNoPerfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverUsuarioNoPerfil">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/RemoverUsuarioNoPerfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDadosReserva">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterDadosReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDadosReservaAdicionais">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterDadosReservaAdicionais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDadosReservaBeneficios">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterDadosReservaBeneficios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDadosReservaAtributos">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterDadosReservaAtributos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterLabelsDadosReserva">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterLabelsDadosReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterLabelsInformacoesGerais">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterLabelsInformacoesGerais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterLabelsInformacoesGeraisInternacionalizacao">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterLabelsInformacoesGeraisInternacionalizacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterLabelsRelatoriosFaturamento">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterLabelsRelatoriosFaturamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterLabelsInformacoesRelatorioReservas">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterLabelsInformacoesRelatorioReservas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterHorarioFuncionamentoAgencias">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterHorarioFuncionamentoAgencias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDadosCotacaoReserva">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterDadosCotacaoReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDadosRelatorioReserva">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterDadosRelatorioReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDadosCotacaoAdicionais">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterDadosCotacaoAdicionais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarNovosUsuariosPefilNovaWebCorp">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/CadastrarNovosUsuariosPefilNovaWebCorp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarReservaPendenteCredito">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ConfirmarReservaPendenteCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReprovarReservaPendenteCredito">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ReprovarReservaPendenteCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravarItensVoucherReservaProduto">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/GravarItensVoucherReservaProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailConfirmacaoReserva">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/EnviarEmailConfirmacaoReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailConfirmacaoReservaComListaDestinatarios">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/EnviarEmailConfirmacaoReservaComListaDestinatarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailConfirmacaoReservaComStatusPendenteCredito">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/EnviarEmailConfirmacaoReservaComStatusPendenteCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterCartoesVirtuaisDoClienteParaUtilizacao">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterCartoesVirtuaisDoClienteParaUtilizacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoCorporate">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoCorporate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoAGVIG">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoAGVIG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarSeReservaNecessitaAprovacao">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/VerificarSeReservaNecessitaAprovacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarPresencaNaListaClinton">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/VerificarPresencaNaListaClinton" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ICanaisWeb" type="tns:ICanaisWeb">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ICanaisWeb_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterToken">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterTokenWebFacil">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterTokenWebFacil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarUsuarioTemAcessoAoCorporateNovo">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/VerificarUsuarioTemAcessoAoCorporateNovo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarUsuarioTemAcessoAoCorporateNovoEAntigo">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/VerificarUsuarioTemAcessoAoCorporateNovoEAntigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarUsuarioTemAcessoAoWebFacilNovo">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/VerificarUsuarioTemAcessoAoWebFacilNovo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarUsuarioTemAcessoAoWebFacilNovoEAntigo">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/VerificarUsuarioTemAcessoAoWebFacilNovoEAntigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DescriptografarTokenRetornandoUsuario">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/DescriptografarTokenRetornandoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirUsuarioNoPerfil">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/InserirUsuarioNoPerfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverUsuarioNoPerfil">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/RemoverUsuarioNoPerfil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDadosReserva">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterDadosReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDadosReservaAdicionais">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterDadosReservaAdicionais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDadosReservaBeneficios">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterDadosReservaBeneficios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDadosReservaAtributos">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterDadosReservaAtributos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterLabelsDadosReserva">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterLabelsDadosReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterLabelsInformacoesGerais">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterLabelsInformacoesGerais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterLabelsInformacoesGeraisInternacionalizacao">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterLabelsInformacoesGeraisInternacionalizacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterLabelsRelatoriosFaturamento">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterLabelsRelatoriosFaturamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterLabelsInformacoesRelatorioReservas">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterLabelsInformacoesRelatorioReservas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterHorarioFuncionamentoAgencias">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterHorarioFuncionamentoAgencias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDadosCotacaoReserva">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterDadosCotacaoReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDadosRelatorioReserva">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterDadosRelatorioReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterDadosCotacaoAdicionais">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterDadosCotacaoAdicionais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CadastrarNovosUsuariosPefilNovaWebCorp">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/CadastrarNovosUsuariosPefilNovaWebCorp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmarReservaPendenteCredito">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ConfirmarReservaPendenteCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReprovarReservaPendenteCredito">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ReprovarReservaPendenteCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GravarItensVoucherReservaProduto">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/GravarItensVoucherReservaProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailConfirmacaoReserva">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/EnviarEmailConfirmacaoReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailConfirmacaoReservaComListaDestinatarios">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/EnviarEmailConfirmacaoReservaComListaDestinatarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailConfirmacaoReservaComStatusPendenteCredito">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/EnviarEmailConfirmacaoReservaComStatusPendenteCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterCartoesVirtuaisDoClienteParaUtilizacao">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/ObterCartoesVirtuaisDoClienteParaUtilizacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoCorporate">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoCorporate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoAGVIG">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/EnviarEmailESMSConfirmacaoReservaPendenteDeCreditoAGVIG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarSeReservaNecessitaAprovacao">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/VerificarSeReservaNecessitaAprovacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarPresencaNaListaClinton">
      <soap:operation soapAction="http://tempuri.org/ICanaisWeb/VerificarPresencaNaListaClinton" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CanaisWeb">
    <wsdl:port name="BasicHttpBinding_ICanaisWeb" binding="tns:BasicHttpBinding_ICanaisWeb">
      <soap:address location="http://www-h.localiza.com/Empresas2/servicos/CanaisWeb.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ICanaisWeb" binding="tns:BasicHttpsBinding_ICanaisWeb">
      <soap:address location="https://srv-webhom02.localiza.corp/Empresas2/servicos/CanaisWeb.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>