AL.Atendimento.SobConsulta.Repositorios/Web References/wsCanaisWeb/CanaisWeb0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LL.CanaisWeb.Fronteiras.Dtos.Politicas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LL.CanaisWeb.Fronteiras.Dtos.Politicas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www-h.localiza.com/Empresas2/servicos/CanaisWeb.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://www-h.localiza.com/Empresas2/servicos/CanaisWeb.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/LL.CanaisWeb.Fronteiras.Dtos" />
  <xs:complexType name="ComparacaoPoliticaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoCidadeDevolucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCidadeRetirada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoCliente" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CodigosAdicionais" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="DataDevolucao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataRetirada" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Entrega" type="xs:boolean" />
      <xs:element minOccurs="0" name="FormaDePagamento" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GrupoCarro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HorasExtra" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LL.CanaisWeb.Fronteiras.Dtos" minOccurs="0" name="Motorista" nillable="true" type="q2:MotoristaDTO" />
      <xs:element minOccurs="0" name="QuantidadeDiarias" type="xs:int" />
      <xs:element minOccurs="0" name="ValorTotalReserva" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComparacaoPoliticaDTO" nillable="true" type="tns:ComparacaoPoliticaDTO" />
</xs:schema>