AL.Atendimento.SobConsulta.Repositorios/Web References/wsCanaisWeb/CanaisWeb4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LL.CanaisWeb.Fronteiras.Dtos.Relatorios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LL.CanaisWeb.Fronteiras.Dtos.Relatorios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LabelInformacoesFaturamentoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgenciaDeViagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgenciaDevolucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgenciaRetirada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Agrupadas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CentroDeCusto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CidadeDevolucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CidadeRetirada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cnpj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CnpjAgvig" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CnpjEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoAgvig" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoClienteContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoInfracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Combustivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CondutorAdicional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CondutorIndicado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CpfCondutor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CpfUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataAberturaContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataDevolucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataEmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataFechamentoContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataInfracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataPrevisaoDevolucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataRetirada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataVencimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescontoComissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DespesasDiversas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DespesasExtras" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiariaMotorista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Diarias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiariasUtilizadas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormaPagamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GrupoCarro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraExtra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraExtraMotorista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HorarioInfracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Indenizacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KmExcedente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KmRodado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lavagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListaOrigens" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalInfracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Localizador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalizadorOuContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NaoForamEncontradosRegistros" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeAgvig" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeClienteContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroFatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObsOpcionais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Opcionais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrigemReserva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoDeEmissao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoDevolucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoOcorrenciaMulta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoRetirada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoVencimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Placa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Produto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatorioAvarias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatorioContratos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatorioMultas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatorioTitulos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RodapePortalFaturamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SetorDaEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Situacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Solicitante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SolicitanteEmissor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusFatura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxaRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCobranca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoLocacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoProduto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalExtrasContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlLogoPretoBrancaRelatorios" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorContrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorDiariaKmHoraExtra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorFatura" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LabelInformacoesFaturamentoDTO" nillable="true" type="tns:LabelInformacoesFaturamentoDTO" />
  <xs:complexType name="LabelInformacoesRelatorioReservasDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgenciaDeViagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgenciaDevolucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgenciaRetirada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNJPAGVIG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPJEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CentroDeCusto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CidadeDevolucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CidadeRetirada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoAgencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataCriacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataDevolucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataRetirada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormaDePagamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListaOrigens" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListaSituacoes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NaoForamEncontradosRegistros" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NomeDaEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrigemDaReserva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoCriacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoDevolucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeriodoRetirada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatorioReservas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserva" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SetorDaEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Situacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Situacoes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Solicitante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrlLogoPretoBrancaRelatorios" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LabelInformacoesRelatorioReservasDTO" nillable="true" type="tns:LabelInformacoesRelatorioReservasDTO" />
</xs:schema>