AL.Atendimento.SobConsulta.Repositorios/Web References/wsCanaisWeb/CanaisWeb3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LL.CanaisWeb.Fronteiras.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LL.CanaisWeb.Fronteiras.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCartaoVirtualUtilizacaoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CartaoVirtualUtilizacaoDTO" nillable="true" type="tns:CartaoVirtualUtilizacaoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCartaoVirtualUtilizacaoDTO" nillable="true" type="tns:ArrayOfCartaoVirtualUtilizacaoDTO" />
  <xs:complexType name="CartaoVirtualUtilizacaoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ativo" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodigoBandeira" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoSeguranca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataValidade" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DescricaoBandeira" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoCartao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroCartao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CartaoVirtualUtilizacaoDTO" nillable="true" type="tns:CartaoVirtualUtilizacaoDTO" />
  <xs:complexType name="MotoristaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bilingue" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodigoTipoMotorista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoTipoMotorista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HorasMotorista" type="xs:int" />
      <xs:element minOccurs="0" name="LocalAtendimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PodeContratar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Roteiro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Terno" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValorDiaria" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ValorHoraExtra" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Viagem" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MotoristaDTO" nillable="true" type="tns:MotoristaDTO" />
  <xs:complexType name="ListaClintonDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstaPresente" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaClintonDTO" nillable="true" type="tns:ListaClintonDTO" />
</xs:schema>