AL.Atendimento.SobConsulta.Repositorios/Service References/NRAutorizacao/Autorizacao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Autorizacao" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3034/Plataforma/Autorizacao.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3034/Plataforma/Autorizacao.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Exceptions" />
      <xsd:import schemaLocation="http://localhost:3034/Plataforma/Autorizacao.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3034/Plataforma/Autorizacao.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" />
      <xsd:import schemaLocation="http://localhost:3034/Plataforma/Autorizacao.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" />
      <xsd:import schemaLocation="http://localhost:3034/Plataforma/Autorizacao.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities.Enum" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAutorizacao_AutenticarAcessoExterno_InputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarAcessoExterno" />
  </wsdl:message>
  <wsdl:message name="IAutorizacao_AutenticarAcessoExterno_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarAcessoExternoResponse" />
  </wsdl:message>
  <wsdl:message name="IAutorizacao_AutenticarAcessoExterno_ExcecaoTokenInvalidoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Exceptions" name="detail" element="q1:ExcecaoTokenInvalido" />
  </wsdl:message>
  <wsdl:message name="IAutorizacao_AutenticarAcessoExterno_ExcecaoTokenInativoFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Exceptions" name="detail" element="q2:ExcecaoTokenInativo" />
  </wsdl:message>
  <wsdl:message name="IAutorizacao_VerificarStatusSessaoAcessoExterno_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarStatusSessaoAcessoExterno" />
  </wsdl:message>
  <wsdl:message name="IAutorizacao_VerificarStatusSessaoAcessoExterno_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarStatusSessaoAcessoExternoResponse" />
  </wsdl:message>
  <wsdl:message name="IAutorizacao_VerificarStatusSessaoAcessoExterno_ExcecaoTokenInvalidoFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Exceptions" name="detail" element="q3:ExcecaoTokenInvalido" />
  </wsdl:message>
  <wsdl:message name="IAutorizacao_VerificarStatusSessaoAcessoExterno_ExcecaoTokenInativoFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Exceptions" name="detail" element="q4:ExcecaoTokenInativo" />
  </wsdl:message>
  <wsdl:message name="IAutorizacao_VerificarStatusSessaoAcessoExterno_ExcecaoSessaoInvalidaFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Exceptions" name="detail" element="q5:ExcecaoSessaoInvalida" />
  </wsdl:message>
  <wsdl:portType name="IAutorizacao">
    <wsdl:operation name="AutenticarAcessoExterno">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutorizacao/AutenticarAcessoExterno" message="tns:IAutorizacao_AutenticarAcessoExterno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutorizacao/AutenticarAcessoExternoResponse" message="tns:IAutorizacao_AutenticarAcessoExterno_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAutorizacao/AutenticarAcessoExternoExcecaoTokenInvalidoFault" name="ExcecaoTokenInvalidoFault" message="tns:IAutorizacao_AutenticarAcessoExterno_ExcecaoTokenInvalidoFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAutorizacao/AutenticarAcessoExternoExcecaoTokenInativoFault" name="ExcecaoTokenInativoFault" message="tns:IAutorizacao_AutenticarAcessoExterno_ExcecaoTokenInativoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarStatusSessaoAcessoExterno">
      <wsdl:input wsaw:Action="http://tempuri.org/IAutorizacao/VerificarStatusSessaoAcessoExterno" message="tns:IAutorizacao_VerificarStatusSessaoAcessoExterno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAutorizacao/VerificarStatusSessaoAcessoExternoResponse" message="tns:IAutorizacao_VerificarStatusSessaoAcessoExterno_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAutorizacao/VerificarStatusSessaoAcessoExternoExcecaoTokenInvalidoFault" name="ExcecaoTokenInvalidoFault" message="tns:IAutorizacao_VerificarStatusSessaoAcessoExterno_ExcecaoTokenInvalidoFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAutorizacao/VerificarStatusSessaoAcessoExternoExcecaoTokenInativoFault" name="ExcecaoTokenInativoFault" message="tns:IAutorizacao_VerificarStatusSessaoAcessoExterno_ExcecaoTokenInativoFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAutorizacao/VerificarStatusSessaoAcessoExternoExcecaoSessaoInvalidaFault" name="ExcecaoSessaoInvalidaFault" message="tns:IAutorizacao_VerificarStatusSessaoAcessoExterno_ExcecaoSessaoInvalidaFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAutorizacao" type="tns:IAutorizacao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticarAcessoExterno">
      <soap:operation soapAction="http://tempuri.org/IAutorizacao/AutenticarAcessoExterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoTokenInvalidoFault">
        <soap:fault use="literal" name="ExcecaoTokenInvalidoFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExcecaoTokenInativoFault">
        <soap:fault use="literal" name="ExcecaoTokenInativoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="VerificarStatusSessaoAcessoExterno">
      <soap:operation soapAction="http://tempuri.org/IAutorizacao/VerificarStatusSessaoAcessoExterno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoTokenInvalidoFault">
        <soap:fault use="literal" name="ExcecaoTokenInvalidoFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExcecaoTokenInativoFault">
        <soap:fault use="literal" name="ExcecaoTokenInativoFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ExcecaoSessaoInvalidaFault">
        <soap:fault use="literal" name="ExcecaoSessaoInvalidaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Autorizacao">
    <wsdl:port name="BasicHttpBinding_IAutorizacao" binding="tns:BasicHttpBinding_IAutorizacao">
      <soap:address location="http://localhost:3034/Plataforma/Autorizacao.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>