AL.Atendimento.SobConsulta.Repositorios/Service References/NRAutorizacao/Autorizacao5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3034/Plataforma/Autorizacao.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" />
  <xs:import schemaLocation="http://localhost:3034/Plataforma/Autorizacao.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities.Enum" />
  <xs:element name="AutenticarAcessoExterno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tokenAplicacao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticarAcessoExternoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="AutenticarAcessoExternoResult" nillable="true" type="q1:DTOAutenticacaoAcessoExterno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarStatusSessaoAcessoExterno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tokenAutenticado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idSessao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarStatusSessaoAcessoExternoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities.Enum" minOccurs="0" name="VerificarStatusSessaoAcessoExternoResult" type="q2:StatusSessao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>