AL.Atendimento.SobConsulta.Repositorios/Service References/NRAutorizacao/Autorizacao3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTOAutenticacaoAcessoExterno">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaSolicitante" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AreaUsuarioReserva" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cultura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSessao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Matricula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenAplicacao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOAutenticacaoAcessoExterno" nillable="true" type="tns:DTOAutenticacaoAcessoExterno" />
</xs:schema>