AL.Atendimento.SobConsulta.Repositorios/Service References/EmailBuildBlock/Email.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Email" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wapps-h.localiza.com/Corporativo/BuildingBlocks/Email/Servicos/Email.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wapps-h.localiza.com/Corporativo/BuildingBlocks/Email/Servicos/Email.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Email.Business.Exceptions" />
      <xsd:import schemaLocation="http://wapps-h.localiza.com/Corporativo/BuildingBlocks/Email/Servicos/Email.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wapps-h.localiza.com/Corporativo/BuildingBlocks/Email/Servicos/Email.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcessoBB.Business.Entities" />
      <xsd:import schemaLocation="http://wapps-h.localiza.com/Corporativo/BuildingBlocks/Email/Servicos/Email.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Email.Business.Entities" />
      <xsd:import schemaLocation="http://wapps-h.localiza.com/Corporativo/BuildingBlocks/Email/Servicos/Email.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/AcessoBB.Business.Exceptions" />
      <xsd:import schemaLocation="http://wapps-h.localiza.com/Corporativo/BuildingBlocks/Email/Servicos/Email.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmail_ValidarEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarEmail" />
  </wsdl:message>
  <wsdl:message name="IEmail_ValidarEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IEmail_ValidarEmail_AnexoInvalidoFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Email.Business.Exceptions" name="detail" element="q1:AnexoInvalido" />
  </wsdl:message>
  <wsdl:message name="IEmail_ValidarEmail_EmailSemAssuntoCorpoFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Email.Business.Exceptions" name="detail" element="q2:EmailSemAssuntoCorpo" />
  </wsdl:message>
  <wsdl:message name="IEmail_ValidarEmail_EnderecoEmailInvalidoFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Email.Business.Exceptions" name="detail" element="q3:EnderecoEmailInvalido" />
  </wsdl:message>
  <wsdl:message name="IEmail_ValidarEmail_ParametroInvalidoFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Email.Business.Exceptions" name="detail" element="q4:ParametroInvalido" />
  </wsdl:message>
  <wsdl:message name="IEmail_EnviarEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmail" />
  </wsdl:message>
  <wsdl:message name="IEmail_EnviarEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IEmail_EnviarEmail_AnexoInvalidoFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Email.Business.Exceptions" name="detail" element="q5:AnexoInvalido" />
  </wsdl:message>
  <wsdl:message name="IEmail_EnviarEmail_EmailSemAssuntoCorpoFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Email.Business.Exceptions" name="detail" element="q6:EmailSemAssuntoCorpo" />
  </wsdl:message>
  <wsdl:message name="IEmail_EnviarEmail_EnderecoEmailInvalidoFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Email.Business.Exceptions" name="detail" element="q7:EnderecoEmailInvalido" />
  </wsdl:message>
  <wsdl:message name="IEmail_EnviarEmail_ParametroInvalidoFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Email.Business.Exceptions" name="detail" element="q8:ParametroInvalido" />
  </wsdl:message>
  <wsdl:message name="IEmail_EnviarEmailComImagem_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmailComImagem" />
  </wsdl:message>
  <wsdl:message name="IEmail_EnviarEmailComImagem_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarEmailComImagemResponse" />
  </wsdl:message>
  <wsdl:message name="IEmail_EnviarEmailComImagem_AnexoInvalidoFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Email.Business.Exceptions" name="detail" element="q9:AnexoInvalido" />
  </wsdl:message>
  <wsdl:message name="IEmail_EnviarEmailComImagem_EmailSemAssuntoCorpoFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Email.Business.Exceptions" name="detail" element="q10:EmailSemAssuntoCorpo" />
  </wsdl:message>
  <wsdl:message name="IEmail_EnviarEmailComImagem_EnderecoEmailInvalidoFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Email.Business.Exceptions" name="detail" element="q11:EnderecoEmailInvalido" />
  </wsdl:message>
  <wsdl:message name="IEmail_EnviarEmailComImagem_ParametroInvalidoFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Email.Business.Exceptions" name="detail" element="q12:ParametroInvalido" />
  </wsdl:message>
  <wsdl:portType name="IEmail">
    <wsdl:operation name="ValidarEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmail/ValidarEmail" message="tns:IEmail_ValidarEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmail/ValidarEmailResponse" message="tns:IEmail_ValidarEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmail/ValidarEmailAnexoInvalidoFault" name="AnexoInvalidoFault" message="tns:IEmail_ValidarEmail_AnexoInvalidoFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmail/ValidarEmailEmailSemAssuntoCorpoFault" name="EmailSemAssuntoCorpoFault" message="tns:IEmail_ValidarEmail_EmailSemAssuntoCorpoFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmail/ValidarEmailEnderecoEmailInvalidoFault" name="EnderecoEmailInvalidoFault" message="tns:IEmail_ValidarEmail_EnderecoEmailInvalidoFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmail/ValidarEmailParametroInvalidoFault" name="ParametroInvalidoFault" message="tns:IEmail_ValidarEmail_ParametroInvalidoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmail/EnviarEmail" message="tns:IEmail_EnviarEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmail/EnviarEmailResponse" message="tns:IEmail_EnviarEmail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmail/EnviarEmailAnexoInvalidoFault" name="AnexoInvalidoFault" message="tns:IEmail_EnviarEmail_AnexoInvalidoFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmail/EnviarEmailEmailSemAssuntoCorpoFault" name="EmailSemAssuntoCorpoFault" message="tns:IEmail_EnviarEmail_EmailSemAssuntoCorpoFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmail/EnviarEmailEnderecoEmailInvalidoFault" name="EnderecoEmailInvalidoFault" message="tns:IEmail_EnviarEmail_EnderecoEmailInvalidoFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmail/EnviarEmailParametroInvalidoFault" name="ParametroInvalidoFault" message="tns:IEmail_EnviarEmail_ParametroInvalidoFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailComImagem">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmail/EnviarEmailComImagem" message="tns:IEmail_EnviarEmailComImagem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmail/EnviarEmailComImagemResponse" message="tns:IEmail_EnviarEmailComImagem_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmail/EnviarEmailComImagemAnexoInvalidoFault" name="AnexoInvalidoFault" message="tns:IEmail_EnviarEmailComImagem_AnexoInvalidoFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmail/EnviarEmailComImagemEmailSemAssuntoCorpoFault" name="EmailSemAssuntoCorpoFault" message="tns:IEmail_EnviarEmailComImagem_EmailSemAssuntoCorpoFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmail/EnviarEmailComImagemEnderecoEmailInvalidoFault" name="EnderecoEmailInvalidoFault" message="tns:IEmail_EnviarEmailComImagem_EnderecoEmailInvalidoFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmail/EnviarEmailComImagemParametroInvalidoFault" name="ParametroInvalidoFault" message="tns:IEmail_EnviarEmailComImagem_ParametroInvalidoFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Default" type="tns:IEmail">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarEmail">
      <soap:operation soapAction="http://tempuri.org/IEmail/ValidarEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AnexoInvalidoFault">
        <soap:fault use="literal" name="AnexoInvalidoFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="EmailSemAssuntoCorpoFault">
        <soap:fault use="literal" name="EmailSemAssuntoCorpoFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="EnderecoEmailInvalidoFault">
        <soap:fault use="literal" name="EnderecoEmailInvalidoFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ParametroInvalidoFault">
        <soap:fault use="literal" name="ParametroInvalidoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmail">
      <soap:operation soapAction="http://tempuri.org/IEmail/EnviarEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AnexoInvalidoFault">
        <soap:fault use="literal" name="AnexoInvalidoFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="EmailSemAssuntoCorpoFault">
        <soap:fault use="literal" name="EmailSemAssuntoCorpoFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="EnderecoEmailInvalidoFault">
        <soap:fault use="literal" name="EnderecoEmailInvalidoFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ParametroInvalidoFault">
        <soap:fault use="literal" name="ParametroInvalidoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EnviarEmailComImagem">
      <soap:operation soapAction="http://tempuri.org/IEmail/EnviarEmailComImagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AnexoInvalidoFault">
        <soap:fault use="literal" name="AnexoInvalidoFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="EmailSemAssuntoCorpoFault">
        <soap:fault use="literal" name="EmailSemAssuntoCorpoFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="EnderecoEmailInvalidoFault">
        <soap:fault use="literal" name="EnderecoEmailInvalidoFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ParametroInvalidoFault">
        <soap:fault use="literal" name="ParametroInvalidoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Email">
    <wsdl:port name="Default" binding="tns:Default">
      <soap:address location="http://wapps-h.localiza.com/Corporativo/BuildingBlocks/Email/Servicos/Email.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>