AL.Atendimento.SobConsulta.Repositorios/Service References/EmailBuildBlock/Email2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wapps-h.localiza.com/Corporativo/BuildingBlocks/Email/Servicos/Email.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://wapps-h.localiza.com/Corporativo/BuildingBlocks/Email/Servicos/Email.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcessoBB.Business.Entities" />
  <xs:import schemaLocation="http://wapps-h.localiza.com/Corporativo/BuildingBlocks/Email/Servicos/Email.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Email.Business.Entities" />
  <xs:import schemaLocation="http://wapps-h.localiza.com/Corporativo/BuildingBlocks/Email/Servicos/Email.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ValidarEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chaveUtilizacao" type="q1:guid" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AcessoBB.Business.Entities" minOccurs="0" name="parametros" nillable="true" type="q2:ArrayOfParametroUtilizacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Email.Business.Entities" minOccurs="0" name="ValidarEmailResult" type="q3:ValidacaoEmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chaveUtilizacao" type="q4:guid" />
        <xs:element minOccurs="0" name="remetente" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="destinatarios" nillable="true" type="q5:ArrayOfstring" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="destinatariosCC" nillable="true" type="q6:ArrayOfstring" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="destinatariosCCO" nillable="true" type="q7:ArrayOfstring" />
        <xs:element minOccurs="0" name="assunto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="corpo" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Email.Business.Entities" minOccurs="0" name="anexos" nillable="true" type="q8:ArrayOfAnexo" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Email.Business.Entities" minOccurs="0" name="tipoCorpo" type="q9:TipoCorpo" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AcessoBB.Business.Entities" minOccurs="0" name="parametros" nillable="true" type="q10:ArrayOfParametroUtilizacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarEmailComImagem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="chaveUtilizacao" type="q11:guid" />
        <xs:element minOccurs="0" name="remetente" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="destinatarios" nillable="true" type="q12:ArrayOfstring" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="destinatariosCC" nillable="true" type="q13:ArrayOfstring" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="destinatariosCCO" nillable="true" type="q14:ArrayOfstring" />
        <xs:element minOccurs="0" name="assunto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="corpo" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Email.Business.Entities" minOccurs="0" name="anexos" nillable="true" type="q15:ArrayOfAnexo" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AcessoBB.Business.Entities" minOccurs="0" name="parametros" nillable="true" type="q16:ArrayOfParametroUtilizacao" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Email.Business.Entities" minOccurs="0" name="imagens" nillable="true" type="q17:ArrayOfAnexo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarEmailComImagemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>