AL.Atendimento.SobConsulta.Repositorios/Service References/EmailBuildBlock/Email3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AcessoBB.Business.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AcessoBB.Business.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExceptionBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoErro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescricaoErro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExceptionBase" nillable="true" type="tns:ExceptionBase" />
</xs:schema>