AL.Atendimento.SobConsulta.Repositorios/Service References/EmailBuildBlock/Email1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AcessoBB.Business.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AcessoBB.Business.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfParametroUtilizacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParametroUtilizacao" nillable="true" type="tns:ParametroUtilizacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParametroUtilizacao" nillable="true" type="tns:ArrayOfParametroUtilizacao" />
  <xs:complexType name="ParametroUtilizacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametroUtilizacao" nillable="true" type="tns:ParametroUtilizacao" />
</xs:schema>