AL.Atendimento.SobConsulta.Repositorios/Service References/NRCentralDeReservas/CentralReserva26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Agencia.Business.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Agencia.Business.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wapps-h.localiza.com/localiza/nucleoreserva3/reserva/CentralReserva.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" />
  <xs:complexType name="AgenciaNaoEncontradaPeloCodigoLocaliza">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" base="q1:ExcecaoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgenciaNaoEncontradaPeloCodigoLocaliza" nillable="true" type="tns:AgenciaNaoEncontradaPeloCodigoLocaliza" />
  <xs:complexType name="AgenciaRetiradaNaoFuncionaNoDia">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" base="q2:ExcecaoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgenciaRetiradaNaoFuncionaNoDia" nillable="true" type="tns:AgenciaRetiradaNaoFuncionaNoDia" />
  <xs:complexType name="AgenciaRetiradaNaoFuncionaNoHorario">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" base="q3:ExcecaoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgenciaRetiradaNaoFuncionaNoHorario" nillable="true" type="tns:AgenciaRetiradaNaoFuncionaNoHorario" />
  <xs:complexType name="AgenciaRetiradaNaoFuncionaNoHorarioNoFeriado">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" base="q4:ExcecaoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgenciaRetiradaNaoFuncionaNoHorarioNoFeriado" nillable="true" type="tns:AgenciaRetiradaNaoFuncionaNoHorarioNoFeriado" />
  <xs:complexType name="AgenciaRetiradaNaoFuncionaNoFeriado">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" base="q5:ExcecaoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgenciaRetiradaNaoFuncionaNoFeriado" nillable="true" type="tns:AgenciaRetiradaNaoFuncionaNoFeriado" />
  <xs:complexType name="AgenciaDevolucaoNaoFuncionaNoDia">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" base="q6:ExcecaoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgenciaDevolucaoNaoFuncionaNoDia" nillable="true" type="tns:AgenciaDevolucaoNaoFuncionaNoDia" />
  <xs:complexType name="AgenciaDevolucaoNaoFuncionaNoHorario">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" base="q7:ExcecaoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgenciaDevolucaoNaoFuncionaNoHorario" nillable="true" type="tns:AgenciaDevolucaoNaoFuncionaNoHorario" />
  <xs:complexType name="AgenciaDevolucaoNaoFuncionaNoFeriado">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" base="q8:ExcecaoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgenciaDevolucaoNaoFuncionaNoFeriado" nillable="true" type="tns:AgenciaDevolucaoNaoFuncionaNoFeriado" />
  <xs:complexType name="AgenciaDevolucaoNaoFuncionaNoHorarioNoFeriado">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" base="q9:ExcecaoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgenciaDevolucaoNaoFuncionaNoHorarioNoFeriado" nillable="true" type="tns:AgenciaDevolucaoNaoFuncionaNoHorarioNoFeriado" />
  <xs:complexType name="AgenciaSemVeiculosDisponiveis">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" base="q10:ExcecaoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgenciaSemVeiculosDisponiveis" nillable="true" type="tns:AgenciaSemVeiculosDisponiveis" />
</xs:schema>