AL.Atendimento.SobConsulta.Repositorios/Service References/NRCentralDeReservas/CentralReserva29.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wapps-h.localiza.com/localiza/nucleoreserva3/reserva/CentralReserva.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" />
  <xs:import schemaLocation="http://wapps-h.localiza.com/localiza/nucleoreserva3/reserva/CentralReserva.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Tarifa.Business.Entities" />
  <xs:import schemaLocation="http://wapps-h.localiza.com/localiza/nucleoreserva3/reserva/CentralReserva.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" />
  <xs:import schemaLocation="http://wapps-h.localiza.com/localiza/nucleoreserva3/reserva/CentralReserva.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Cliente.Business.Entities" />
  <xs:import schemaLocation="http://wapps-h.localiza.com/localiza/nucleoreserva3/reserva/CentralReserva.svc?xsd=xsd30" namespace="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities.Enum" />
  <xs:import schemaLocation="http://wapps-h.localiza.com/localiza/nucleoreserva3/reserva/CentralReserva.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Cliente.Business.Entities.Enum" />
  <xs:import schemaLocation="http://wapps-h.localiza.com/localiza/nucleoreserva3/reserva/CentralReserva.svc?xsd=xsd31" namespace="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities.CentralReserva" />
  <xs:element name="CotarPorDataReferenciaPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q1:DTOAutenticacaoAcessoExterno" />
        <xs:element minOccurs="0" name="codigoLocalizaAgenciaRetirada" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoLocalizaAgenciaDevolucao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataHoraReferencia" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataHoraRetirada" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataHoraDevolucao" type="xs:dateTime" />
        <xs:element minOccurs="0" name="quilometragemMediaPorDia" nillable="true" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tarifa.Business.Entities" minOccurs="0" name="tarifaPromocional" nillable="true" type="q2:DTOTarifaPromocional" />
        <xs:element minOccurs="0" name="codigoPaisResidencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="solicitarMotorista" type="xs:boolean" />
        <xs:element minOccurs="0" name="utilizarPontos" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CotarPorDataReferenciaPortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="CotarPorDataReferenciaPortalResult" nillable="true" type="q3:ArrayOfDTOCotacaoReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecalcularCotacaoPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q4:DTOAutenticacaoAcessoExterno" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="dadosCotacao" nillable="true" type="q5:DTOCotacaoReserva" />
        <xs:element minOccurs="0" name="codigoPaisResidencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quilometragemMediaPorDia" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="dataHoraReferencia" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecalcularCotacaoPortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="RecalcularCotacaoPortalResult" nillable="true" type="q6:DTOCotacaoReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CriarReservaPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q7:DTOAutenticacaoAcessoExterno" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Cliente.Business.Entities" minOccurs="0" name="cliente" nillable="true" type="q8:DTOCliente" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="cotacao" nillable="true" type="q9:DTOCotacaoReserva" />
        <xs:element minOccurs="0" name="ciaAerea" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroVoo" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="dataHoraVoo" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="enviaSMS" type="xs:boolean" />
        <xs:element minOccurs="0" name="codigoPaisResidencia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CriarReservaPortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="CriarReservaPortalResult" nillable="true" type="q10:DTOCriacaoReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarReservaPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q11:DTOAutenticacaoAcessoExterno" />
        <xs:element minOccurs="0" name="localizadorReserva" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Cliente.Business.Entities" minOccurs="0" name="dadosCliente" nillable="true" type="q12:DTOCliente" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="dadosCotacao" nillable="true" type="q13:DTOCotacaoReserva" />
        <xs:element minOccurs="0" name="codigoCiaAerea" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroVoo" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="dataHoraVoo" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="enviarConfirmacaoPorSMS" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarReservaPortalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CotarPorDataReferenciaParceiro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q14:DTOAutenticacaoAcessoExterno" />
        <xs:element minOccurs="0" name="codigoParceiro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoLocalizaAgenciaRetirada" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoLocalizaAgenciaDevolucao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataGoraReferencia" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataHoraRetirada" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataHoraDevolucao" type="xs:dateTime" />
        <xs:element minOccurs="0" name="grupoVeiculo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoDocumentoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDocumentoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoCluster" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoEvento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CotarPorDataReferenciaParceiroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="CotarPorDataReferenciaParceiroResult" nillable="true" type="q15:ArrayOfDTOCotacaoReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecalcularCotacatoParceiro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q16:DTOAutenticacaoAcessoExterno" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="cotacao" nillable="true" type="q17:DTOCotacaoReserva" />
        <xs:element minOccurs="0" name="dataHoraReferencia" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecalcularCotacatoParceiroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="RecalcularCotacatoParceiroResult" nillable="true" type="q18:DTOCotacaoReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CriarReservaParceiro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q19:DTOAutenticacaoAcessoExterno" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities.Enum" minOccurs="0" name="ciaAerea" type="q20:CiaAereaParceira" />
        <xs:element minOccurs="0" name="numeroVoo" type="xs:int" />
        <xs:element minOccurs="0" name="dataHoraChegadaVoo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="nomeUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailUsuario" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Cliente.Business.Entities.Enum" minOccurs="0" name="tipoTelefoneUsuario" type="q21:TipoTelefone" />
        <xs:element minOccurs="0" name="dddTelefoneUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroTelefoneUsuario" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="dadosCotacao" nillable="true" type="q22:DTOCotacaoReserva" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Cliente.Business.Entities.Enum" minOccurs="0" name="tipoDocumentoUsuario" type="q23:TipoDocumento" />
        <xs:element minOccurs="0" name="numeroDocumentoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CriarReservaParceiroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="CriarReservaParceiroResult" nillable="true" type="q24:DTOCriacaoReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndicarPNR">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q25:DTOAutenticacaoAcessoExterno" />
        <xs:element minOccurs="0" name="localizadorReserva" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroPNR" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndicarPNRResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarReservaParceiro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q26:DTOAutenticacaoAcessoExterno" />
        <xs:element minOccurs="0" name="localizadorReserva" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroVoo" type="xs:int" />
        <xs:element minOccurs="0" name="dataHoraChegadaVoo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="nomeUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailUsuario" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Cliente.Business.Entities.Enum" minOccurs="0" name="tipoTelefoneUsuario" type="q27:TipoTelefone" />
        <xs:element minOccurs="0" name="dddTelefoneUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroTelefoneUsuario" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="dadosCotacao" nillable="true" type="q28:DTOCotacaoReserva" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Cliente.Business.Entities.Enum" minOccurs="0" name="tipoDocumentoUsuario" type="q29:TipoDocumento" />
        <xs:element minOccurs="0" name="numeroDocumentoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarReservaParceiroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterReservaPoliticaInterno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q30:DTOAutenticacaoAcessoExterno" />
        <xs:element minOccurs="0" name="localizadorReserva" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterReservaPoliticaInternoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="ObterReservaPoliticaInternoResult" nillable="true" type="q31:DTOReservaPoliticaInterno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReenviarConfirmacaoPorEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q32:DTOAutenticacaoAcessoExterno" />
        <xs:element minOccurs="0" name="localizador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReenviarConfirmacaoPorEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Cotar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q33:DTOAutenticacaoAcessoExterno" />
        <xs:element minOccurs="0" name="codigoLocalizaAgenciaRetirada" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoLocalizaAgenciaDevolucao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataHoraRetirada" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataHoraDevolucao" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codigoGrupoVeiculo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoPaisResidencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoAgvig" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoClientePJ" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CotarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="CotarResult" nillable="true" type="q34:ArrayOfDTOCotacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recalcular">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q35:DTOAutenticacaoAcessoExterno" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="dadosCotacao" nillable="true" type="q36:DTOCotacao" />
        <xs:element minOccurs="0" name="codigoPaisResidencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quilometragemMediaPorDia" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecalcularResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="RecalcularResult" nillable="true" type="q37:DTOCotacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Criar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q38:DTOAutenticacaoAcessoExterno" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="dadosCotacao" nillable="true" type="q39:DTOCotacao" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Cliente.Business.Entities" minOccurs="0" name="cliente" nillable="true" type="q40:DTOCliente" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="formaPagamento" nillable="true" type="q41:DTOFormaPagamento" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities.CentralReserva" minOccurs="0" name="dadosBasicos" nillable="true" type="q42:DTODadosBasicosReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CriarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="CriarResult" nillable="true" type="q43:DTOCriacaoReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Alterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q44:DTOAutenticacaoAcessoExterno" />
        <xs:element minOccurs="0" name="localizador" nillable="true" type="xs:string" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="dadosCotacao" nillable="true" type="q45:DTOCotacao" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Cliente.Business.Entities" minOccurs="0" name="cliente" nillable="true" type="q46:DTOCliente" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="formaPagamento" nillable="true" type="q47:DTOFormaPagamento" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities.CentralReserva" minOccurs="0" name="dadosBasicos" nillable="true" type="q48:DTODadosBasicosReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarDadosBasicos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q49:DTOAutenticacaoAcessoExterno" />
        <xs:element minOccurs="0" name="localizador" nillable="true" type="xs:string" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities.CentralReserva" minOccurs="0" name="dadosBasicos" nillable="true" type="q50:DTODadosBasicosReserva" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Cliente.Business.Entities" minOccurs="0" name="cliente" nillable="true" type="q51:DTOCliente" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="motorista" nillable="true" type="q52:DTOMotorista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarDadosBasicosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q53:DTOAutenticacaoAcessoExterno" />
        <xs:element minOccurs="0" name="localizadorReserva" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities.CentralReserva" minOccurs="0" name="ConsultarResult" nillable="true" type="q54:DTOReservaConsultaCompleto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterPerfilAutonomiaPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q55:DTOAutenticacaoAcessoExterno" />
        <xs:element minOccurs="0" name="codigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterPerfilAutonomiaPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObterPerfilAutonomiaPorUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarSeOfertasEstaoAtivasParaAgencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q56:DTOAutenticacaoAcessoExterno" />
        <xs:element minOccurs="0" name="codigoAgenciaRetirada" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarSeOfertasEstaoAtivasParaAgenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarSeOfertasEstaoAtivasParaAgenciaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarCotacao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q57:DTOAutenticacaoAcessoExterno" />
        <xs:element minOccurs="0" name="localizador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarCotacaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="RecuperarCotacaoResult" nillable="true" type="q58:DTOCotacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReservasSobConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Entities" minOccurs="0" name="autenticacaoAcesso" nillable="true" type="q59:DTOAutenticacaoAcessoExterno" />
        <xs:element minOccurs="0" name="sobConsultaInternacional" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarReservasSobConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities" minOccurs="0" name="ListarReservasSobConsultaResult" nillable="true" type="q60:ArrayOfDTOReservaSobConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>