AL.Atendimento.SobConsulta.Repositorios/Service References/NRCentralDeReservas/CentralReserva5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Autenticacao.Business.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wapps-h.localiza.com/localiza/nucleoreserva3/reserva/CentralReserva.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" />
  <xs:complexType name="ExcecaoTokenInvalido">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" base="q1:ExcecaoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExcecaoTokenInvalido" nillable="true" type="tns:ExcecaoTokenInvalido" />
  <xs:complexType name="ExcecaoTokenInativo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" base="q2:ExcecaoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExcecaoTokenInativo" nillable="true" type="tns:ExcecaoTokenInativo" />
  <xs:complexType name="ExcecaoSessaoInvalida">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" base="q3:ExcecaoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExcecaoSessaoInvalida" nillable="true" type="tns:ExcecaoSessaoInvalida" />
  <xs:complexType name="ExcecaoSessaoExpirada">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" base="q4:ExcecaoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExcecaoSessaoExpirada" nillable="true" type="tns:ExcecaoSessaoExpirada" />
  <xs:complexType name="ExcecaoMatriculaNaoInformada">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" base="q5:ExcecaoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExcecaoMatriculaNaoInformada" nillable="true" type="tns:ExcecaoMatriculaNaoInformada" />
  <xs:complexType name="ExcecaoMatriculaInvalida">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.Excecao" base="q6:ExcecaoBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExcecaoMatriculaInvalida" nillable="true" type="tns:ExcecaoMatriculaInvalida" />
</xs:schema>