AL.Atendimento.SobConsulta.Repositorios/Service References/NRCentralDeReservas/CentralReserva15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Usuario.Business.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Usuario.Business.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wapps-h.localiza.com/localiza/nucleoreserva3/reserva/CentralReserva.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.DTO" />
  <xs:complexType name="DTOUsuario">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.DTO" base="q1:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoClienteAssociado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoGrupoUsuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DDD" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroCelular" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Ramal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TelefoneFuncional" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DTOUsuario" nillable="true" type="tns:DTOUsuario" />
</xs:schema>