AL.Atendimento.SobConsulta.Repositorios/Service References/NRCentralDeReservas/CentralReserva12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cliente.Business.Entities.Enum" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cliente.Business.Entities.Enum" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wapps-h.localiza.com/localiza/nucleoreserva3/reserva/CentralReserva.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="TipoClassificacaoCliente">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Externo" />
      <xs:enumeration value="SegmentoPlataforma" />
      <xs:enumeration value="Fidelidade" />
      <xs:enumeration value="NovoCliente" />
      <xs:enumeration value="Listas" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoClassificacaoCliente" nillable="true" type="tns:TipoClassificacaoCliente" />
  <xs:simpleType name="TipoTelefone">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fixo" />
      <xs:enumeration value="Celular" />
      <xs:enumeration value="Radio" />
      <xs:enumeration value="Fax" />
      <xs:enumeration value="Outro" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoTelefone" nillable="true" type="tns:TipoTelefone" />
  <xs:simpleType name="TipoEndereco">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Residencial">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">82</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Comercial">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">67</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Localizacao">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">76</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Faturamento">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">70</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoEndereco" nillable="true" type="tns:TipoEndereco" />
  <xs:simpleType name="TipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CPF" />
      <xs:enumeration value="Passaporte" />
      <xs:enumeration value="CartaoFidelidade" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TipoDocumento" nillable="true" type="tns:TipoDocumento" />
</xs:schema>