AL.Atendimento.SobConsulta.Repositorios/Service References/NRCentralDeReservas/CentralReserva21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Feriado.Business.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Feriado.Business.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDTOFeriado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOFeriado" nillable="true" type="tns:DTOFeriado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOFeriado" nillable="true" type="tns:ArrayOfDTOFeriado" />
  <xs:complexType name="DTOFeriado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOFeriado" nillable="true" type="tns:DTOFeriado" />
</xs:schema>