AL.Atendimento.SobConsulta.Repositorios/Service References/NRCentralDeReservas/CentralReserva32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities.AliancaInternacional" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities.AliancaInternacional" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wapps-h.localiza.com/localiza/nucleoreserva3/reserva/CentralReserva.svc?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities.Enum.AliancaInternacional" />
  <xs:complexType name="ArrayOfDTOEncargosVeiculo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOEncargosVeiculo" nillable="true" type="tns:DTOEncargosVeiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOEncargosVeiculo" nillable="true" type="tns:ArrayOfDTOEncargosVeiculo" />
  <xs:complexType name="DTOEncargosVeiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CobrancaUnitaria" type="xs:double" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Reservas.Business.Entities.Enum.AliancaInternacional" minOccurs="0" name="UnidadeTempoCobranca" type="q1:UnidadeTempo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOEncargosVeiculo" nillable="true" type="tns:DTOEncargosVeiculo" />
</xs:schema>