AL.Atendimento.SobConsulta.Repositorios/Service References/NRCentralDeReservas/CentralReserva28.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Agencia.Business.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Agencia.Business.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wapps-h.localiza.com/localiza/nucleoreserva3/reserva/CentralReserva.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Feriado.Business.Entities" />
  <xs:import schemaLocation="http://wapps-h.localiza.com/localiza/nucleoreserva3/reserva/CentralReserva.svc?xsd=xsd11" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://wapps-h.localiza.com/localiza/nucleoreserva3/reserva/CentralReserva.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Agencia.Business.Entities.Enum" />
  <xs:import schemaLocation="http://wapps-h.localiza.com/localiza/nucleoreserva3/reserva/CentralReserva.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.DTO" />
  <xs:import schemaLocation="http://wapps-h.localiza.com/localiza/nucleoreserva3/reserva/CentralReserva.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="DTOAgencia">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.DTO" base="q1:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AeroportoObrigatorio" type="xs:boolean" />
          <xs:element minOccurs="0" name="AgenciaParceiro" type="xs:boolean" />
          <xs:element minOccurs="0" name="AliancaInternacional" nillable="true" type="tns:DTOAliancaInternacional" />
          <xs:element minOccurs="0" name="Ativa" type="xs:boolean" />
          <xs:element minOccurs="0" name="Cidade" nillable="true" type="tns:DTOCidade" />
          <xs:element minOccurs="0" name="CidadeMetropolitana" nillable="true" type="tns:DTOCidade" />
          <xs:element minOccurs="0" name="CodigoAgenciaInternacional" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoAmadeus" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoFilial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoGalileu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoIATA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoIdentificacaoFederal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoLocaliza" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoPostal" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoSabre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Coordenadas" nillable="true" type="tns:DTOCoordenadas" />
          <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Feriado.Business.Entities" minOccurs="0" name="Feriados" nillable="true" type="q2:ArrayOfDTOFeriado" />
          <xs:element minOccurs="0" name="ListaHorariosFuncionamento" nillable="true" type="tns:ArrayOfDTOHorarioFuncionamento" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PercentualImpostoInternacional" type="xs:double" />
          <xs:element minOccurs="0" name="PercentualTaxaServico" type="xs:double" />
          <xs:element minOccurs="0" name="PermiteAluguelMensal" type="xs:boolean" />
          <xs:element minOccurs="0" name="PermiteMotorista" type="xs:boolean" />
          <xs:element minOccurs="0" name="RegiaoTarifaria" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tags" nillable="true" type="q3:ArrayOfstring" />
          <xs:element minOccurs="0" name="TelefoneContato" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TelefoneFax" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Agencia.Business.Entities.Enum" minOccurs="0" name="TipoAgencia" type="q4:TipoAgencia" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DTOAgencia" nillable="true" type="tns:DTOAgencia" />
  <xs:complexType name="DTOAliancaInternacional">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ativa" type="xs:boolean" />
      <xs:element minOccurs="0" name="CodigoAlianca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parceiro" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOAliancaInternacional" nillable="true" type="tns:DTOAliancaInternacional" />
  <xs:complexType name="DTOCidade">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.DTO" base="q5:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoLocaliza" type="xs:int" />
          <xs:element minOccurs="0" name="CodigoPais" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiglaUF" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DTOCidade" nillable="true" type="tns:DTOCidade" />
  <xs:complexType name="DTOCoordenadas">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.DTO" base="q6:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Latitude" type="xs:double" />
          <xs:element minOccurs="0" name="Longitude" type="xs:double" />
          <xs:element minOccurs="0" name="UrlMapaEstatico" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DTOCoordenadas" nillable="true" type="tns:DTOCoordenadas" />
  <xs:complexType name="ArrayOfDTOHorarioFuncionamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOHorarioFuncionamento" nillable="true" type="tns:DTOHorarioFuncionamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOHorarioFuncionamento" nillable="true" type="tns:ArrayOfDTOHorarioFuncionamento" />
  <xs:complexType name="DTOHorarioFuncionamento">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Localiza.Nucleo.Util.DTO" base="q7:DTOBase">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Agencia.Business.Entities.Enum" minOccurs="0" name="DiaDaSemana" type="q8:DiaReferenciaComercial" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="DiaDaSemanaInternacional" nillable="true" type="q9:DayOfWeek" />
          <xs:element minOccurs="0" name="HorarioAbertura" type="xs:dateTime" />
          <xs:element minOccurs="0" name="HorarioFechamento" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DTOHorarioFuncionamento" nillable="true" type="tns:DTOHorarioFuncionamento" />
</xs:schema>